<div style="background: #00AB4E; position: fixed;" id="skrollr-body">

<img
    class="aat-logo"
    sn-skrollr
    data-ng-src="images/aat_logo2.svg"
    alt="item.alt"
    data-_sectionfirst--10="top: 5%; left:5%; opacity:1;@class: aat-logo "
    data-_sectionfirst-2200="top: 5%; left:5%; opacity:0; "
    src="images/aat_logo2.svg" width="200" />
<h3
        sn-skrollr
    class="absolute color-white h3 ng-binding ng-scope ng-isolate-scope skrollable skrollable-between"
    data-_sectionfirst--10="top: 30%; left:15%; text-align: left;opacity:1;"
    data-_sectionfirst-2300="top: 30%; left:15%; text-align: left;opacity:0;">
    Lorem ipsum <br> dolorem ipsum
</h3>



<img
        sn-skrollr
    class="absolute ng-scope ng-isolate-scope skrollable skrollable-between"
    data-ng-src="assets/5poundnoteheart.png"
    alt="item.alt"
    data-_sectionfirst--10="top: 10%; right:10%; transform: rotate(35deg); opacity: 1; width: 30%;"
    data-_sectionfirst-2800="top: 10%; right:10%; transform: rotate(250deg); opacity: 1; width: 30%;"
    src="assets/5poundnoteheart.png"
    />
<h4
        sn-skrollr
    class="absolute color-white ng-binding ng-scope ng-isolate-scope skrollable skrollable-after"
    data-_sectionfirst--10="bottom: 20%; left:15%;">
    Scroll down...<br> or press the arrow keys</h4>
<img src="images/down_cherov.svg"

     alt="Go next"
     class="goNextSvg ng-scope"
     data-ng-click="nextPage()">
</div>